*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Release files
/app/release
*.aab
*.apk
/app/debug
key.properties

# Keep drawable resources
!app/src/main/res/drawable/
!app/src/main/res/drawable/spacemate_logo_full.png
